<!--
	Source selection
 -->
<section data-role="page" id="home" class="single-selection">
	<header data-role="header">
		<h1>Sources</h1>
		<a href="#shutdown" data-icon="delete" class="ui-btn-right" data-rel="dialog" data-transition="slideup">Shutdown</a>
	</header><!-- header -->

	<div class="wrapper" data-role="content">
		<div class="content">
			<div class="inputs selections">
				<div class="section-head">
				</div>
				<div class="section">
					<div id="hdmi" class="section-box">
						<span><img src="<%= asset_path('flexible_interface/icons/69-display.png') %>" alt="computer" /></span>
					</div>
				</div>
				<div class="section">
					<div id="vga" class="section-box">
						<span><img src="<%= asset_path('flexible_interface/icons/175-macbook.png') %>" alt="laptop vga" /></span>
					</div>
				</div>
				<div class="section">
					<div id="dvi" class="section-box">
						<span><img src="<%= asset_path('flexible_interface/icons/175-macbook.png') %>" alt="laptop dvi" /></span>
					</div>
				</div>
			</div>
			<div class="inputs labels">
				<div class="section-head">
				</div>
				<div class="section">
					<div class="section-label">
						<span>Computer</span>
					</div>
				</div>
				<div class="section">
					<div class="section-label">
						<span>Laptop VGA</span>
					</div>
				</div>
				<div class="section">
					<div class="section-label">
						<span>Laptop DVI</span>
					</div>
				</div>
			</div>
		</div><!-- content -->
	</div><!-- wrapper -->

	<footer data-id="core-footer" data-role="footer" class="wicons">
		<nav role="navigation" data-role="navbar" class="wicons ui-state-persist">
			<ul>
				<li><a href="#home" class="foot-home ui-btn-active ui-state-persist" data-icon="custom">Sources</a></li>
				<li><a href="#audio" class="foot-audio" data-icon="custom">Audio</a></li>
				<li><a href="#other" class="foot-other" data-icon="custom">Advanced</a></li>
			</ul>
		</nav><!-- navbar -->
	</footer><!-- footer -->
</section><!-- section -->

<!--
	AUDIO
	May need re-think. TODO: Vertical bar
 -->
<section data-role="page" id="audio">
	<header data-role="header">
		<h1>Audio</h1>
		<a href="#shutdown" data-icon="delete" class="ui-btn-right" data-rel="dialog" data-transition="slideup">Shutdown</a>
	</header><!-- header -->

	<div class="wrapper" data-role="content">
		<div class="content">
			
			<div id="audio-selection" class="inputs">
				<div class="section-head">
				</div>
				<div class="section">
					<div id="audio1" class="section-box">
						<span>Computer</span>
					</div>
				</div>
				<div class="section">
					<div id="audio2" class="section-box">
						<span>Laptop VGA</span>
					</div>
				</div>
				<div class="section">
					<div id="audio3" class="section-box">
						<span>Laptop DVI</span>
					</div>
				</div>
			</div>
			<div id="volume-wrapper" class="inputs">
				<div data-role="fieldcontain">
					<input data-theme="b" type="range" name="volume" id="volume" value="0" min="0" max="100"  />
					<label for="volume"><h2>Volume</h2></label>
				</div>
			</div>
		</div><!-- content -->
	</div><!-- wrapper -->

	<footer data-id="core-footer" data-role="footer" class="wicons">
		<nav role="navigation" data-role="navbar" class="wicons ui-state-persist">
			<ul>
				<li><a href="#home" class="foot-home" data-icon="custom">Sources</a></li>
				<li><a href="#audio" class="foot-audio ui-btn-active ui-state-persist" data-icon="custom">Audio</a></li>
				<li><a href="#other" class="foot-other" data-icon="custom">Advanced</a></li>
			</ul>
		</nav><!-- navbar -->
	</footer><!-- footer -->
</section><!-- section -->





<!--
	Advanced control
 -->
<section data-role="page" id="other">
	<header data-role="header">
		<h1>Advanced</h1>
		<a href="#shutdown" data-icon="delete" class="ui-btn-right" data-rel="dialog" data-transition="slideup">Shutdown</a>
	</header><!-- header -->

	<div class="wrapper" data-role="content">
		<div class="content">
			<div class="inputs">
				<div data-role="fieldcontain">
					<label for="projector1-status">Display:</label>
					<select name="projector1-status" id="projector1-status" data-role="slider">
						<option value="off">Off</option>
						<option value="on">On</option>
					</select> 
				</div>
			</div>
		</div><!-- content -->
	</div><!-- wrapper -->

	<footer data-id="core-footer" data-role="footer" class="wicons">
		<nav role="navigation" data-role="navbar" class="wicons ui-state-persist">
			<ul>
				<li><a href="#home" class="foot-home" data-icon="custom">Sources</a></li>
				<li><a href="#audio" class="foot-audio" data-icon="custom">Audio</a></li>
				<li><a href="#other" class="foot-other ui-btn-active ui-state-persist" data-icon="custom">Advanced</a></li>
			</ul>
		</nav><!-- navbar -->
	</footer><!-- footer -->
</section><!-- section -->